<div class="bg-shapes-left"></div>
<div class="bg-shapes-right"></div>
<!-- Welcome -->
<article id="welcome" class="px-4 py-4 bg-success">
  <h1 class="display-4 text-center text-light mt-5">Your Resume Online!</h1>
  <p class="lead px-5 mt-4 text-justify text-light">
    Why having such important information only on paper?<br>
    Get your resume available online with a couple of simple steps, and have it ready to share with anyone, anytime!
  </p>
  <hr class="my-4 mx-5 font-weight-bold">
  <p class="text-center">
    <a class="btn btn-lg btn-outline-light" href="#!/example" role="button">View Example</a>
    <a class="btn btn-lg btn-outline-light" href="#" role="button">Get Started!</a>
  </p>
</article>
<!-- Cards -->
<article class="bg-light m-4">
  <h1 class="display-4 text-center text-dark my-5">How does it work?</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col my-3">
      <div class="card shadow-lg card-hover h-100">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Sign On</h5>
          <hr>
          <p class="card-text">
            Create your free account and choose the plan that fits your needs.
            Wait a second!, all current plans are <strong>free!</strong>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card shadow-lg card-hover h-100">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Select and Customize</h5>
          <hr>
          <p class="card-text">
            Pick one of the templates we have predefined, and configure it.
            You can change color, titles and order of some elements.
          </p>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card shadow-lg card-hover h-100">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Fill it up!</h5>
          <hr>
          <p class="card-text">
            Provide the data for each section of your resume.
            Add as much details as needed.
          </p>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card shadow-lg card-hover h-100">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Share!</h5>
          <hr>
          <p class="card-text">
            Now you have your resume online 24/7!
            What are you waiting for? Start sharing it!
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
