<section>
  <!-- <div class="bg-shapes-left d-none d-lg-block"></div>
  <div class="bg-shapes-right d-none d-lg-block"></div> -->
  <!-- Welcome -->
  <article id="welcome" class="p-3 p-sm-5 bg-success">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="display-4 text-center text-light">Your Resume Online!</h1>
        <p class="lead px-1 px-lg-5 mt-4 text-justify text-light">
          Why having such important information only on paper?<br>
          Get your resume available online with a couple of simple steps, and have it ready to share with anyone, anytime!
        </p>
        <hr class="my-4 mx-5 font-weight-bold">
        <div class="row text-center px-md-5">
          <div class="col-sm-6 my-2">
            <a class="btn btn-lg btn-block btn-outline-light" href="#!/example" role="button">View Example</a>
          </div>
          <div class="col-sm-6 my-2">
            <a class="btn btn-lg btn-block btn-outline-light" href="#!/profile" role="button">Get Started!</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!-- How does it work? Cards -->
  <article class="p-3 p-sm-5 bg-light">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="display-4 text-center text-dark">How does it work?</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
          <div class="col my-3">
            <div class="card shadow-lg card-hover h-100" ng-click="moveToRoute('register')">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Sign Up</h5>
                <hr>
                <p class="card-text">
                  Create your free account and choose the plan that fits your needs.
                  Wait a second!, all current plans are <strong>free!</strong>
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow-lg card-hover h-100" ng-click="moveToRoute('profile')">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Fill it up!</h5>
                <hr>
                <p class="card-text">
                  Provide the data for each section of your resume.
                  Add as much details as needed.
                </p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow-lg card-hover h-100" ng-click="moveToRoute('customize')">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Customize</h5>
                <hr>
                <p class="card-text">
                  You can change the color, the titles and order of some elements in the template.
                </p>
              </div>
            </div>
          </div>
          <div class="col my-3" ng-click="moveToRoute('view/'+currentSession.userData.resumeId)">
            <div class="card shadow-lg card-hover h-100">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">View!</h5>
                <hr>
                <p class="card-text">
                  Now you have your resume online 24/7!
                  What are you waiting for? Start sharing it!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!-- Video -->
  <article class="p-3 p-sm-5 bg-dark">
    <div class="row">
      <!-- Display from xs to lg -->
      <div class="col-lg-10 offset-lg-1 justify-content-center d-flex d-lg-none">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/UFyH1MsgZUY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- Display after lg -->
      <div class="col-lg-10 offset-lg-1 justify-content-center d-none d-lg-flex ">
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/UFyH1MsgZUY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </article>
</section>
