<!-- Alert -->
<section class="" ng-show="resumeResponse">
  <div class="alert alert-{{resumeResponse.type}}">
    <h3 class="py-3">{{resumeResponse.message}}</h3>
  </div>
</section>

<!-- Resume Not Found -->
<section class="" ng-if="resumeNotFound">
  <div class="card m-5 shadow-lg">
    <div class="card-body">
      <h5 class="bold-center-title">Your own resume could be here!</h5>
      <hr>
      Check the example below and
      <a class="text-success text-bold clickable" href="#!/profile">Get Started now!</a>
    </div>
  </div>
  <article ng-controller="ExampleResumeCtrl" ng-include="'views/resume_example.html'"></article>
</section>

<!-- Actual Resume -->
<section id="resume-container" class="row justify-content-center" ng-show="resumeFound">
  <div class="col-11 col-lg-10">
    <div class="row my-4 shadow-lg rounded">
      <!-- Profile Column -->
      <section id="profile-column" class="col-12 col-md-4 order-md-{{customs.order.profile}} px-0"  style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
        <!-- Picture -->
        <article class="card-body" style="background-color:{{customs.baseColor}}!important">
          <div id="picture-container" class="text-center">
            <img id="profile-picture" src="../resources/img/picture.png" class="card-img-top rounded-circle">
            <h4 class="card-title mt-3 mb-0 font-weight-bold"  ng-show="resumeData.profile.firstname">{{resumeData.profile.firstname}} {{resumeData.profile.lastname}}</h4>
            <span class="card-title mb-0 font-weight-light"  ng-show="resumeData.profile.lastname">{{resumeData.profile.position}}</span><br>
            <span class="font-weight-lighter" ng-show="resumeData.profile.location"><i class="fas fa-map-marker-alt mr-2"></i>{{resumeData.profile.location}}</span>
          </div>
        </article>
        <!-- Bio -->
        <article class="card-body pt-0 pb-3" style="background-color:{{customs.baseColor}}!important" ng-if="resumeData.profile.bio">
          <div class="text-justify">
            <p class="card-text font-weight-normal">{{resumeData.profile.bio}}</p>
          </div>
        </article>
        <!-- Contact -->
        <article class="card-body" style="background-color:{{customs.baseColor}}!important" ng-if="resumeData.contact">
          <div class="row row-cols-1">
            <div class="col" ng-if="resumeData.contact.email">
              <span class="font-weight-lighter">
                <i class="mr-2 fas fa-envelope"></i>
                <a href="mailto:{{resumeData.contact.email}}" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.email}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.phone">
              <span class="font-weight-lighter">
                <i class="mr-2 fas fa-phone"></i>
                <a href="tel:{{resumeData.contact.phone}}" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.phone}}</a>
              </span>
            </div>
            <!-- <div class="col" ng-if="resumeData.contact.whatsapp">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-whatsapp"></i>whatsapp
              </span>
            </div> -->
            <!-- <div class="col">
              <span class="font-weight-lighter">
                <i class="mr-2 fas fa-map-marker-alt"></i>Location
              </span>
            </div> -->
            <div class="col" ng-if="resumeData.contact.webpage">
              <span class="font-weight-lighter">
                <i class="mr-2 fas fa-globe"></i>
                <a href="https://{{resumeData.contact.webpage}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.webpage}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.github">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-github"></i>
                <a ng-href="https://{{resumeData.contact.github}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.github}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.linkedin">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-linkedin"></i>
                <a ng-href="https://{{resumeData.contact.linkedin}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.linkedin}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.twitter">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-twitter"></i>
                <a ng-href="https://{{resumeData.contact.twitter}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.twitter}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.facebook">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-facebook-f"></i>
                <a ng-href="https://{{resumeData.contact.facebook}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.facebook}}</a>
              </span>
            </div>
            <div class="col" ng-if="resumeData.contact.instagram">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-instagram"></i>
                <a ng-href="https://{{resumeData.contact.instagram}}" target="_blank" style="color:{{customs.profileLinkColor}}">{{resumeData.contact.instagram}}</a>
              </span>
            </div>
            <!-- <div class="col" ng-if="resumeData.contact.snapchat">
              <span class="font-weight-lighter">
                <i class="mr-2 fab fa-snapchat-ghost"></i>snapchat
              </span>
            </div> -->
          </div>
        </article>
        <!-- Education -->
        <article class="card-body" style="background-color:{{customs.baseColor}}!important" ng-if="educationList">
          <div class="text-justify">
            <h5 class="card-title font-weight-bold text-uppercase">
              {{customs.labels.education}}
            </h5>
            <div class="mt-3" ng-repeat="record in educationList | orderBy:'from':true track by record.id">
              <span class="font-weight-bold">{{record.title}}</span><br>
              <span class="font-weight-light">{{record.school}}</span><br>
              <span class="font-weight-light" ng-show="record.location">{{record.location}}<br></span>
              <span class="font-weight-lighter">
                {{record.from |  date: 'MMM yyyy'}}
              </span>
              <span class="font-weight-lighter" ng-show="record.to">
                - {{record.to |  date: 'MMM yyyy'}}
              </span>
              <br>
            </div>
          </div>
        </article>
        <!-- Languages -->
        <article class="card-body" style="background-color:{{customs.baseColor}}!important" ng-if="languagesList">
          <div class="text-justify">
            <h5 class="card-title font-weight-bold text-uppercase">
              {{customs.labels.languages}}
            </h5>
            <div class="mt-1" ng-repeat="record in languagesList | orderBy:'id':true track by record.id">
              <span class="font-weight-normal">{{record.language}}</span>
              <span class="font-weight-lighter font-italic">({{record.level}})</span>
            </div>
          </div>
        </article>
        <!-- Interests -->
        <article class="card-body" style="background-color:{{customs.baseColor}}!important" ng-if="interestsList">
          <div class="text-justify">
            <h5 class="card-title font-weight-bold text-uppercase">
              {{customs.labels.interests}}
            </h5>
            <div class="mt-1" ng-repeat="record in interestsList | orderBy:'id':true track by record.id">
              <span class="font-weight-normal">{{record.interest}}</span><br>
            </div>
          </div>
        </article>
      </section>

      <!-- Resume Column -->
      <section id="resume-details" class="col-12 col-md-8 order-md-{{customs.order.resume}} px-0">
        <div class="card-body">
          <!-- Career Profile -->
          <article class="my-5" ng-if="resumeData.summary">
            <h5 class="card-title mb-5 clickable" ng-click="expandResumeSection('profile-summary')">
              <span class="icon-circle" style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
                <i class="fas fa-user"></i>
              </span>
              <span class="text-uppercase" style="color:{{customs.baseColor}}">
                {{customs.labels.summary}}
              </span>
            </h5>
            <div id="profile-summary" class="collapse show">
              <p class="card-text text-justify" style="color:{{customs.textColor}}">
                {{resumeData.summary}}
              </p>
            </div>
          </article>
          <!-- Job Experience -->
          <article class="my-5" ng-if="workList.length>0">
            <h5 class="card-title mb-5 clickable"  ng-click="expandResumeSection('profile-work')">
              <span class="icon-circle" style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
                <i class="fas fa-briefcase"></i>
              </span>
              <span class="text-uppercase" style="color:{{customs.baseColor}}">
                {{customs.labels.work}}
              </span>
            </h5>
            <div id="profile-work" class="collapse show">
            <div class="mb-4" ng-repeat="record in workList | orderBy:'from':true track by record.id" style="color:{{customs.textColor}}">
              <!-- Header -->
              <div class="row mb-2">
                <!-- Role -->
                <div class="col-md-8">
                  <span class="font-weight-bold">
                    {{record.title}}
                  </span>
                </div>
                <!-- Period -->
                <div class="col-md-4  text-md-right">
                  <span class="font-weight-light">
                    {{record.from |  date: 'MMM yyyy'}}
                  </span>
                  <span class="font-weight-light" ng-show="record.to">
                    - {{record.to |  date: 'MMM yyyy'}}
                  </span>
                  <span class="font-weight-light" ng-show="!record.to">
                    - Current
                  </span>
                </div>
                <!-- Company -->
                <div class="col-12">
                  <span class="font-weight-light">
                    {{record.employer}} - {{record.location}}
                  </span>
                </div>
              </div>
              <!-- Description -->
              <div class="row">
                <div class="col">
                  <p class="card-text text-justify">
                    {{record.description}}
                  </p>
                </div>
              </div>
            </div>
            </div>
          </article>
          <!-- Projects -->
          <article class="my-5" ng-if="projectsList.length>0">
            <h5 class="card-title mb-5 clickable"  ng-click="expandResumeSection('profile-projects')">
              <span class="icon-circle" style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
                <i class="fas fa-pencil-alt"></i>
              </span>
              <span class="text-uppercase" style="color:{{customs.baseColor}}">
                {{customs.labels.projects}}
              </span>
            </h5>
            <div id="profile-projects" class="collapse show">
            <div class="mb-4" ng-repeat="record in projectsList | orderBy:'date':true track by record.id" style="color:{{customs.textColor}}">
              <div class="row mb-3">
                <div class="col">
                  <span class="font-weight-bold">
                    {{record.name}} -
                  </span>
                  <span class="card-text text-justify mt-3">
                    {{record.description}}
                  </span><br>
                  <a class="card-text font-weight-light mt-3" href="{{record.url}}" target="_blank" style="color:{{customs.baseColor}}">
                    {{record.url}}
                  </a>
                  <br>
                  <span class="card-text font-weight-light">
                    {{record.date |  date: 'MMM yyyy'}}
                  </span>
                </div>
              </div>
            </div>
            </div>
          </article>
          <!-- Trainings -->
          <article class="my-5" ng-if="trainingList.length>0">
            <h5 class="card-title mb-5 clickable"  ng-click="expandResumeSection('profile-training')">
              <span class="icon-circle" style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
                <i class="fas fa-book"></i>
              </span>
              <span class="text-uppercase" style="color:{{customs.baseColor}}">
                {{customs.labels.training}}
              </span>
            </h5>
            <div id="profile-training" class="collapse show">
            <div class="mb-4" ng-repeat="record in trainingList | orderBy:'from':true track by record.id" style="color:{{customs.textColor}}">
              <div class="row mb-3">
                <div class="col">
                  <span class="font-weight-bold">
                    {{record.title}}
                  </span>
                  <span class="font-weight-normal">
                    at {{record.school}}
                  </span>
                  <br>
                  <span class="font-weight-lighter">
                    {{record.from |  date: 'MMM yyyy'}}
                  </span>
                  <span class="font-weight-lighter" ng-show="record.to">
                      - {{record.to |  date: 'MMM yyyy'}}
                  </span>
                </div>
              </div>
            </div>
            </div>
          </article>

          <!-- Skills -->
          <article class="my-5" ng-if="skillsList.length>0">
            <h5 class="card-title mb-5 clickable"  ng-click="expandResumeSection('profile-skills')">
              <span class="icon-circle" style="background-color:{{customs.baseColor}}!important; color:{{customs.profileTextColor}}">
                <i class="fas fa-tools"></i>
              </span>
              <span class="text-uppercase" style="color:{{customs.baseColor}}">
                {{customs.labels.skills}}
              </span>
            </h5>
            <div id="profile-skills" class="collapse show">
            <!-- Skills with bar -->
            <div class="mb-4" ng-repeat="record in skillsList | orderBy:'id':true track by record.id" style="color:{{customs.textColor}}">
              <div class="row mb-3" ng-if="record.level">
                <div class="col">
                  <span class="font-weight-normal">
                    {{record.skill}}
                  </span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                      style="width: {{record.level}}%; background-color:{{customs.baseColor}}" aria-valuenow="{{record.level}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills tags -->
            <h3 ng-if="!record.level" ng-repeat="record in skillsList | orderBy:'id':true track by record.id"
               class="badge badge-secondary p-2 mr-2" style="color:{{customs.profileTextColor}};background-color:{{customs.baseColor}}">
              {{record.skill}}
            </h3>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</section>
