body{
  font-family: 'Sulphur Point', sans-serif;
  /* font-family: 'Lilita One', cursive; */
}

.icon-circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  background: #2d7788;
  text-align: center;
  position: relative;
  top: -8px;
  font-size: 16px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}

.icon-circle > i{
  margin-top: 6px;
}

#picture-container > img {
   width: 200px;
   max-width: 200px;
}
